In [1]:
# 引入函数库
import datetime as dt
print("Enter 'quit' when you are finished\n")
filename = 'guest.csv'
with open(filename,'a') as file:
    file.write('id,name,come_time,exit_time'+'\n')
while True:
    name = input('Please enter your name>>>')
    if name == 'quit':
        break
    else:
        number = input('Please enter your student number>>>')
        # 获取当前时间
        now_time = dt.datetime.now().strftime('%F %T')
        with open(filename,'a') as file:
            file.write(number+','+name.title()+',' + now_time+'\n')#将访客写入的名字改为首字母大写
        print('Welcome,'+name.title())
        dicision = input('Do you want to continue? y/n>>>')
        if dicision == 'n':
            break

Enter 'quit' when you are finished

Please enter your name>>>zhu
Please enter your student number>>>159

Welcome,Zhu
Do you want to continue? y/n>>>y
Please enter your name>>>ying
Please enter your student number>>>106

Welcome,Ying
Do you want to continue? y/n>>>y
Please enter your name>>>jin
Please enter your student number>>>179

Welcome,Jin
Do you want to continue? y/n>>>y
Please enter your name>>>hui
Please enter your student number>>>204

Welcome,Hui
Do you want to continue? y/n>>>n

In [2]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from pandas import Series,DataFrame

In [3]:
df=pd.read_csv("guest.csv",sep=',')
df

   name   id            come_time  exit_time
0   Zhu  159  2020-04-08 18:03:57        NaN
1  Ying  106  2020-04-08 18:04:06        NaN
2   Jin  179  2020-04-08 18:04:15        NaN
3   Hui  204  2020-04-08 18:04:25        NaN

In [4]:
def search(df):
    sno = input('Please enter your id>>>')
    sno = int(sno)
    info = df[df['id'] == sno]
    print(info)

In [40]:
search(df)

Please enter your id>>>546
Empty DataFrame
Columns: [name, id, come_time, exit_time]
Index: []

In [16]:
import datetime as dt
def exit(df):
    sno = input('Please enter your id>>>')
    sno = int(sno)
    exit_time = dt.datetime.now().strftime('%F %T')# 获取当前时间
    df.loc[(df["id"] == sno), "exit_time"] = exit_time

In [22]:
exit(df)

Please enter your id>>>106

In [23]:
df

   name   id            come_time            exit_time
0   Zhu  159  2020-04-08 18:03:57  2020-04-08 18:12:44
1  Ying  106  2020-04-08 18:04:06  2020-04-08 18:17:45
2   Jin  179  2020-04-08 18:04:15  2020-04-08 18:17:35
3   Hui  204  2020-04-08 18:04:25  2020-04-08 18:16:56

In [39]:
#显示当前记录列表里的所有同学信息，并根据学号排序
show = df.sort_values(['id'])
show

   name   id            come_time            exit_time
1  Ying  106  2020-04-08 18:04:06  2020-04-08 18:17:45
0   Zhu  159  2020-04-08 18:03:57  2020-04-08 18:12:44
2   Jin  179  2020-04-08 18:04:15  2020-04-08 18:17:35
3   Hui  204  2020-04-08 18:04:25  2020-04-08 18:16:56