In [6]:
import datetime as dt
print("Enter 'quit' when you are finished\n")
filename = 'guest.csv'
with open(filename,'a') as file:
    file.write('name,sno,enter_time,exit_time'+'\n')
while True:
    name = input('Please enter your name>>>')
    if name == 'quit':
        break
    else:
        sno = input('Please enter your sno>>>')
        enter_time = dt.datetime.now().strftime('%F %T')
        with open(filename,'a') as file:
            file.write(name.title()+','+sno+','+enter_time+'\n')#将访客写入的名字改为首字母大写
        print('Welcome,'+name.title())
        dicision = input('Do you want to continue? y/n>>>')
        if dicision == 'n':
            break

Enter 'quit' when you are finished

Please enter your name>>>cxy
Please enter your sno>>>729
Welcome,Cxy
Do you want to continue? y/n>>>y
Please enter your name>>>lsj
Please enter your sno>>>225
Welcome,Lsj
Do you want to continue? y/n>>>y
Please enter your name>>>cxk
Please enter your sno>>>802
Welcome,Cxk
Do you want to continue? y/n>>>n

In [16]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [17]:
df=pd.read_csv("guest.csv",sep=',')
df

  name  sno           enter_time  exit_time
0  Cxy  729  2020-04-08 20:34:51        NaN
1  Lsj  225  2020-04-08 20:34:57        NaN
2  Cxk  802  2020-04-08 20:35:03        NaN

In [18]:
import datetime as dt
def search(df):
    exit_time = dt.datetime.now().strftime('%F %T')
    sno = input('Please enter your sno>>>')
    sno = int(sno)
    df.loc[df['sno']==sno,'exit_time']=exit_time

In [19]:
search(df)

Please enter your sno>>>225

In [20]:
df

  name  sno           enter_time            exit_time
0  Cxy  729  2020-04-08 20:34:51                  NaN
1  Lsj  225  2020-04-08 20:34:57  2020-04-08 20:41:29
2  Cxk  802  2020-04-08 20:35:03                  NaN