In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt
%matplotlib inline

In [2]:
df=pd.read_csv("guest.csv",sep=',')
df

  name     sno           enter_time  exit_time
0  Cxy   729.0  2020-04-08 20:34:51        NaN
1  Lsj   225.0  2020-04-08 20:34:57        NaN
2  Cxk   802.0  2020-04-08 20:35:03        NaN
3  chy   407.0  2020-04-08 20:57:19        NaN
4  cjg   418.0  2020-04-08 21:10:25        NaN
5   lx  1019.0  2020-04-08 21:12:08        NaN

In [3]:
def search(df):
    c = input('Please enter the number>>>')
    c = int(c)
    for a in range(0,c):
        exit_time = dt.datetime.now().strftime('%F %T')
        sno = input('Please enter your sno>>>')
        df.loc[df['sno']==sno,'exit_time']=exit_time

In [5]:
search(df)

Please enter the number>>>2
Please enter your sno>>>729
Please enter your sno>>>802

In [6]:
df

  name     sno           enter_time            exit_time
0  Cxy   729.0  2020-04-08 20:34:51  2020-04-08 21:21:15
1  Lsj   225.0  2020-04-08 20:34:57                  NaN
2  Cxk   802.0  2020-04-08 20:35:03  2020-04-08 21:21:17
3  chy   407.0  2020-04-08 20:57:19                  NaN
4  cjg   418.0  2020-04-08 21:10:25                  NaN
5   lx  1019.0  2020-04-08 21:12:08                  NaN

In [7]:
df.sort_values(['sno'])

  name     sno           enter_time            exit_time
1  Lsj   225.0  2020-04-08 20:34:57                  NaN
3  chy   407.0  2020-04-08 20:57:19                  NaN
4  cjg   418.0  2020-04-08 21:10:25                  NaN
0  Cxy   729.0  2020-04-08 20:34:51  2020-04-08 21:21:15
2  Cxk   802.0  2020-04-08 20:35:03  2020-04-08 21:21:17
5   lx  1019.0  2020-04-08 21:12:08                  NaN