In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt
%matplotlib inline

In [2]:
df=pd.read_csv("guest.csv",sep=',')
df

  name  sno           enter_time  exit_time
0  Cxy  729  2020-04-08 20:34:51        NaN
1  Lsj  225  2020-04-08 20:34:57        NaN
2  Cxk  802  2020-04-08 20:35:03        NaN

In [11]:
def add(df):
    c = input('Please enter the number>>>')
    c = int(c)
    for a in range(0,c):
        name = input('Please enter your name>>>')
        sno = input('Please enter your sno>>>')
    enter_time = dt.datetime.now().strftime('%F %T')
    i=df.shape[0]
    df.loc[i,'name'] = name
    df.loc[i,'sno'] = sno
    sno=int(sno)
    df.loc[i,'enter_time'] = enter_time

In [12]:
add(df)

Please enter the number>>>2
Please enter your name>>>thy
Please enter your sno>>>831
Please enter your name>>>lx
Please enter your sno>>>1019

In [13]:
df

  name   sno           enter_time  exit_time
0  Cxy   729  2020-04-08 20:34:51        NaN
1  Lsj   225  2020-04-08 20:34:57        NaN
2  Cxk   802  2020-04-08 20:35:03        NaN
3  chy   407  2020-04-08 20:57:19        NaN
4  cjg   418  2020-04-08 21:10:25        NaN
5   lx  1019  2020-04-08 21:12:08        NaN

In [14]:
#存入文档
df.to_csv('guest.csv',index=False)