In [7]:
# 引入函数库
import datetime as dt
print("Enter 'quit' when you are finished\n")
filename = 'guest.csv'
with open(filename,'a') as file:
    file.write('name,id,time'+'\n')
while True:
    name = input('Please enter your name>>>')
    if name == 'quit':
        break
    else:
        number = input('Please enter your student number>>>')
        # 获取当前时间
        now_time = dt.datetime.now().strftime('%F %T')
        print()
        with open(filename,'a') as file:
            file.write(name.title()+','+number+',' + now_time+'\n')#将访客写入的名字改为首字母大写
        print('Welcome,'+name.title())
        dicision = input('Do you want to continue? y/n>>>')
        if dicision == 'n':
            break

Enter 'quit' when you are finished

Please enter your name>>>lll
Please enter your student number>>>123

Welcome,Lll
Do you want to continue? y/n>>>y
Please enter your name>>>ccc
Please enter your student number>>>456

Welcome,Ccc
Do you want to continue? y/n>>>y
Please enter your name>>>zzz
Please enter your student number>>>789

Welcome,Zzz
Do you want to continue? y/n>>>y
Please enter your name>>>www
Please enter your student number>>>147

Welcome,Www
Do you want to continue? y/n>>>n

In [8]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from pandas import Series,DataFrame

In [9]:
df=pd.read_csv("guest.csv",sep=',')
df.head(5)

  name   id                 time
0  Lll  123  2020-04-08 16:50:13
1  Ccc  456  2020-04-08 16:50:16
2  Zzz  789  2020-04-08 16:50:21
3  Www  147  2020-04-08 16:50:26

In [10]:
sno = input('Please enter your id>>>')

Please enter your id>>>123

In [36]:
sno=int(sno)
df[df['id'] == sno]

  name   id                 time
0  Lll  123  2020-04-08 16:50:13