In [1]:
# 引入函数库
import datetime as dt
print("Enter 'quit' when you are finished\n")
filename = 'guest.csv'
with open(filename,'a') as file:
    file.write('name,id,enter_time,exit_time'+'\n')
while True:
    name = input('Please enter your name>>>')
    if name == 'quit':
        break
    else:
        number = input('Please enter your student number>>>')
        # 获取当前时间
        now_time = dt.datetime.now().strftime('%F %T')
        print()
        with open(filename,'a') as file:
            file.write(name.title()+','+number+',' + now_time+'\n')#将访客写入的名字改为首字母大写
        print('Welcome,'+name.title())
        dicision = input('Do you want to continue? y/n>>>')
        if dicision == 'n':
            break

Enter 'quit' when you are finished

Please enter your name>>>lsj
Please enter your student number>>>123

Welcome,Lsj
Do you want to continue? y/n>>>y
Please enter your name>>>cxy
Please enter your student number>>>234

Welcome,Cxy
Do you want to continue? y/n>>>y
Please enter your name>>>zyl
Please enter your student number>>>345

Welcome,Zyl
Do you want to continue? y/n>>>y
Please enter your name>>>wjh
Please enter your student number>>>456

Welcome,Wjh
Do you want to continue? y/n>>>n

In [2]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from pandas import Series,DataFrame

In [3]:
df=pd.read_csv("guest.csv",sep=',')
df.head(5)

  name   id           enter_time  exit_time
0  Lsj  123  2020-04-08 17:54:09        NaN
1  Cxy  234  2020-04-08 17:54:16        NaN
2  Zyl  345  2020-04-08 17:54:22        NaN
3  Wjh  456  2020-04-08 17:54:31        NaN

In [24]:
#查询 写入离开时间
import datetime as dt
def search(df):
    leave_time = dt.datetime.now().strftime('%F %T')# 获取当前时间
    sno = input('Please enter your id>>>')
    sno = int(sno)
    df.loc[df['id']==sno,'exit_time']=leave_time

In [25]:
search(df)

Please enter your id>>>123

In [26]:
df

  name   id           enter_time            exit_time
0  Lsj  123  2020-04-08 17:54:09  2020-04-08 18:33:30
1  Cxy  234  2020-04-08 17:54:16                  NaN
2  Zyl  345  2020-04-08 17:54:22                  NaN
3  Wjh  456  2020-04-08 17:54:31                  NaN

In [36]:
def add(df):
    name = input('Please enter your name>>>')
    sno = input('Please enter your student number>>>')
    now_time = dt.datetime.now().strftime('%F %T')
    i=df.shape[0]
    df.loc[i,'name']=name
    df.loc[i,'id']=sno
    sno=int(sno)
    df.loc[i,'enter_time']=now_time

In [37]:
add(df)

Please enter your name>>>qaq
Please enter your student number>>>56777

In [41]:
df

  name     id           enter_time            exit_time
0  Lsj    123  2020-04-08 17:54:09  2020-04-08 18:33:30
1  Cxy    234  2020-04-08 17:54:16                  NaN
2  Zyl    345  2020-04-08 17:54:22                  NaN
3  Wjh    456  2020-04-08 17:54:31                  NaN
4  qwq    123  2020-04-08 18:43:15                  NaN
6  qaq  56777  2020-04-08 18:44:38                  NaN

In [42]:
#存入文档
df.to_csv('guest.csv',index=False)