In [5]:
# 引入函数库
import datetime as dt
print("Enter 'quit' when you are finished\n")
filename = 'guest.csv'
with open(filename,'a') as file:
    file.write('name,id,enter_time,exit_time'+'\n')
while True:
    name = input('Please enter your name>>>')
    if name == 'quit':
        break
    else:
        number = input('Please enter your student number>>>')
        # 获取当前时间
        now_time = dt.datetime.now().strftime('%F %T')
        print()
        with open(filename,'a') as file:
            file.write(name.title()+','+number+',' + now_time+'\n')#将访客写入的名字改为首字母大写
        print('Welcome,'+name.title())
        dicision = input('Do you want to continue? y/n>>>')
        if dicision == 'n':
            break

Enter 'quit' when you are finished

Please enter your name>>>lsj
Please enter your student number>>>6179

Welcome,Lsj
Do you want to continue? y/n>>>y
Please enter your name>>>cxy
Please enter your student number>>>6106

Welcome,Cxy
Do you want to continue? y/n>>>y
Please enter your name>>>zyl
Please enter your student number>>>6159

Welcome,Zyl
Do you want to continue? y/n>>>y
Please enter your name>>>wjh
Please enter your student number>>>6204

Welcome,Wjh
Do you want to continue? y/n>>>n

In [6]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from pandas import Series,DataFrame

In [7]:
df=pd.read_csv("guest.csv",sep=',')
df.head(5)

  name    id           enter_time  exit_time
0  Lsj  6179  2020-04-08 21:18:46        NaN
1  Cxy  6106  2020-04-08 21:18:53        NaN
2  Zyl  6159  2020-04-08 21:19:00        NaN
3  Wjh  6204  2020-04-08 21:19:09        NaN

In [8]:
#查询 写入离开时间
import datetime as dt
def search(df):
    leave_time = dt.datetime.now().strftime('%F %T')# 获取当前时间
    sno = input('Please enter your id>>>')
    sno = int(sno)
    df.loc[df['id']==sno,'exit_time']=leave_time

In [9]:
search(df)

Please enter your id>>>6106

In [10]:
df

  name    id           enter_time            exit_time
0  Lsj  6179  2020-04-08 21:18:46                  NaN
1  Cxy  6106  2020-04-08 21:18:53  2020-04-08 21:19:22
2  Zyl  6159  2020-04-08 21:19:00                  NaN
3  Wjh  6204  2020-04-08 21:19:09                  NaN

In [11]:
def add(df):
    name = input('Please enter your name>>>')
    sno = input('Please enter your student number>>>')
    now_time = dt.datetime.now().strftime('%F %T')
    i=df.shape[0]
    df.loc[i,'name']=name.title()
    df.loc[i,'id']=sno
    sno=int(sno)
    df.loc[i,'enter_time']=now_time

In [12]:
add(df)

Please enter your name>>>yjn
Please enter your student number>>>6213

In [13]:
df

  name    id           enter_time            exit_time
0  Lsj  6179  2020-04-08 21:18:46                  NaN
1  Cxy  6106  2020-04-08 21:18:53  2020-04-08 21:19:22
2  Zyl  6159  2020-04-08 21:19:00                  NaN
3  Wjh  6204  2020-04-08 21:19:09                  NaN
4  Yjn  6213  2020-04-08 21:20:19                  NaN

In [14]:
def view(df):
    df['id']=df['id'].astype(int)
    df.sort_values(by='id',ascending=True,inplace=True)

In [15]:
view(df)

In [16]:
df

  name    id           enter_time            exit_time
1  Cxy  6106  2020-04-08 21:18:53  2020-04-08 21:19:22
2  Zyl  6159  2020-04-08 21:19:00                  NaN
0  Lsj  6179  2020-04-08 21:18:46                  NaN
3  Wjh  6204  2020-04-08 21:19:09                  NaN
4  Yjn  6213  2020-04-08 21:20:19                  NaN

In [17]:
#存入文档
df.to_csv('guest.csv',index=False)