In [1]:
# 引入函数库
import datetime as dt
print("Enter 'quit' when you are finished\n")
filename = 'guest.csv'
with open(filename,'a') as file:
    file.write('name,id,enter_time,exit_time'+'\n')
while True:
    name = input('Please enter your name>>>')
    if name == 'quit':
        break
    else:
        number = input('Please enter your student number>>>')
        # 获取当前时间
        now_time = dt.datetime.now().strftime('%F %T')
        print()
        with open(filename,'a') as file:
            file.write(name.title()+','+number+',' + now_time+'\n')#将访客写入的名字改为首字母大写
        print('Welcome,'+name.title())
        dicision = input('Do you want to continue? y/n>>>')
        if dicision == 'n':
            break

Enter 'quit' when you are finished

Please enter your name>>>lsj
Please enter your student number>>>6179

Welcome,Lsj
Do you want to continue? y/n>>>y
Please enter your name>>>cxy
Please enter your student number>>>6106

Welcome,Cxy
Do you want to continue? y/n>>>y
Please enter your name>>>zyl
Please enter your student number>>>6159

Welcome,Zyl
Do you want to continue? y/n>>>y
Please enter your name>>>wjh
Please enter your student number>>>6204

Welcome,Wjh
Do you want to continue? y/n>>>n

In [2]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from pandas import Series,DataFrame

In [3]:
df=pd.read_csv("guest.csv",sep=',')
df.head(5)

  name    id           enter_time  exit_time
0  Lsj  6179  2020-04-08 22:33:26        NaN
1  Cxy  6106  2020-04-08 22:33:33        NaN
2  Zyl  6159  2020-04-08 22:33:42        NaN
3  Wjh  6204  2020-04-08 22:33:49        NaN

In [4]:
#查询 写入离开时间
import datetime as dt
def search(df):
    leave_time = dt.datetime.now().strftime('%F %T')# 获取当前时间
    sno = input('Please enter your id>>>')
    sno = int(sno)
    df.loc[df['id']==sno,'exit_time']=leave_time

In [5]:
search(df)

Please enter your id>>>6106

In [6]:
df

  name    id           enter_time            exit_time
0  Lsj  6179  2020-04-08 22:33:26                  NaN
1  Cxy  6106  2020-04-08 22:33:33  2020-04-08 22:34:04
2  Zyl  6159  2020-04-08 22:33:42                  NaN
3  Wjh  6204  2020-04-08 22:33:49                  NaN

In [9]:
def add(df):
    name = input('Please enter your name>>>')
    sno = input('Please enter your student number>>>')
    now_time = dt.datetime.now().strftime('%F %T')
    i=df.shape[0]
    df.loc[i,'name']=name.title()
    df.loc[i,'id']=sno
    sno=int(sno)
    df.loc[i,'enter_time']=now_time

In [10]:
add(df)

Please enter your name>>>lx
Please enter your student number>>>1019

In [11]:
df

  name    id           enter_time            exit_time
0  Lsj  6179  2020-04-08 22:33:26                  NaN
1  Cxy  6106  2020-04-08 22:33:33  2020-04-08 22:34:04
2  Zyl  6159  2020-04-08 22:33:42                  NaN
3  Wjh  6204  2020-04-08 22:33:49                  NaN
4   Lx  1019  2020-04-08 22:34:32                  NaN

In [12]:
def view(df):
    df['id']=df['id'].astype(int)
    df.sort_values(by='id',ascending=True,inplace=True)

In [13]:
view(df)

In [14]:
df

  name    id           enter_time            exit_time
4   Lx  1019  2020-04-08 22:34:32                  NaN
1  Cxy  6106  2020-04-08 22:33:33  2020-04-08 22:34:04
2  Zyl  6159  2020-04-08 22:33:42                  NaN
0  Lsj  6179  2020-04-08 22:33:26                  NaN
3  Wjh  6204  2020-04-08 22:33:49                  NaN

In [15]:
#存入文档
df.to_csv('guest.csv',index=False)

In [58]:
from tkinter import *
import tkinter.messagebox
import datetime as dt

In [59]:
def add(name,sno):
    now_time = dt.datetime.now().strftime('%F %T')
    i=df.shape[0]
    df.loc[i,'name']=name
    df.loc[i,'id']=sno
    df.loc[i,'enter_time']=now_time
    
def search(sno):
    leave_time = dt.datetime.now().strftime('%F %T')
    df.loc[df['id']==sno,'exit_time']=leave_time
    
def view():
    df.sort_values(by='id',ascending=True,inplace=True)

In [28]:
view()

In [68]:
#GUI
root = Tk()
Label(root,text = "姓名:").grid(row = 0, sticky = W)
name=Entry(root).grid(row = 0, column = 1, sticky = E)
name

Label(root,text = "学号:").grid(row = 1, sticky = W)
sno=Entry(root).grid(row = 1, column = 1, sticky = E)
sno

Button(root,text = "添加",command = add(name,sno)).grid(row = 2,columnspan=2)
tkinter.messagebox.showinfo( "------", "添加成功！")

Button(root,text = "查询",command = search(sno)).grid(row = 2,column = 1,sticky = W)

Button(root,text = "显示",command = view()).grid(row = 2,columnspan = 1)

root.mainloop()